<!-- Barra Lateral Fixa -->
<div class="sidebar">
    <div class="sidebar-header">
        <h5>Opções Bancárias</h5>
    </div>
    <div class="sidebar-body">
        <button class="btn btn-light w-100 mb-2" routerLink="/pessoa">Gerenciar Pessoas</button>
        <button class="btn btn-light w-100 mb-2" routerLink="/conta">Gerenciar Contas</button>
        <button class="btn btn-light w-100 mb-2" routerLink="/saldo">Consultar Saldo</button>
        <button class="btn btn-light w-100 mb-2" routerLink="/conta/saque">Sacar Dinheiro</button>
        <button class="btn btn-light w-100 mb-2" routerLink="/conta/deposito">Depositar Dinheiro</button>
        <button class="btn btn-light w-100 mb-2" routerLink="/transacoes">Exibir Transações</button>
        <button class="btn btn-light w-100 mb-2" routerLink="/transacoes/periodo">Exibir Transações por Período</button>
    </div>
</div>